server:
  port: 8080

spring:
  application:
    name: boot-mybatis-base

  profiles:
    active: local

  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB